In [3]:
import pandas as pd
pd.set_option('display.max_columns', None)

- unificar episodes y episodes 2
- mirar la tabla de guion como conectamos con episodios

In [19]:

episodios = pd.read_csv('files/episode.csv')
categoria_episodio = pd.read_csv('files/keyword.csv')
episodios2 = pd.read_csv('files/simpsons_episodes.csv')

/tmp/ipykernel_14551/569419223.py:6: DtypeWarning: Columns (5,6,7) have mixed types. Specify dtype option on import or set low_memory=False.
  guion = pd.read_csv('files/simpsons_script_lines.csv')  #aparece también localizacion

In [115]:
episodios.head(3)

1

In [58]:
columnas_a_eliminar = ['rating', 'votes']
episodios = episodios.drop(columnas_a_eliminar, axis=1)

In [63]:
columnas_a_eliminar2 = ['index', 'id', 'image_url', 'number_in_season',	'number_in_series',	'original_air_date', 'original_air_year','production_code',	'season', 'video_url', 'views']
episodios2 = episodios2.drop(columnas_a_eliminar2, axis=1)

In [65]:
episodios_total = pd.merge(episodios, episodios2, on='title', how='left')

In [88]:
categorias = categoria_episodio[categoria_episodio['keyword'].map(categoria_episodio['keyword'].value_counts()) >= 7]

In [ ]:
for i, registro in categorias.iterrows():
    if registro['keyword'] not in ['halloween', 'christmas']:
        categorias.drop(i, inplace=True)

In [101]:
categorias['keyword'].value_counts()

keyword
halloween    31
christmas    16
Name: count, dtype: int64

In [102]:
episodios_categorias = pd.merge(episodios_total, categorias, on='episode_id', how='left')

In [110]:
registro_a_eliminar = episodios_categorias[(episodios_categorias['episode_id'] == 'S20-E4') & (episodios_categorias['keyword'] == 'christmas')]
indice_registro = registro_a_eliminar.index

episodios_categorias.drop(indice_registro, inplace=True)

In [112]:
episodios_categorias.to_csv('files/episodios_clean.csv')

In [4]:
ep = pd.read_csv('files/episodios_clean.csv')

In [9]:
ep[ep['imdb_rating'].notnull()]

,Unnamed: 0,episode_id,season,episode,number_in_series,title,summary,air_date,episode_image,imdb_rating,imdb_votes,us_viewers_in_millions,keyword
0,0,S1-E1,1,1,1,Simpsons Roasting on an Open Fire,The family is forced to spend all of their sav...,1989-12-17,https://m.media-amazon.com/images/M/MV5BZjJjMz...,8.2,3734.0,26.70,christmas
1,1,S1-E2,1,2,2,Bart the Genius,Bart ends up at a school for gifted children a...,1990-01-14,https://m.media-amazon.com/images/M/MV5BOTA0MT...,7.8,1973.0,24.50,NaN
2,2,S1-E3,1,3,3,Homer's Odyssey,"After losing his job, Homer contemplates endin...",1990-01-21,https://m.media-amazon.com/images/M/MV5BMzQ3M2...,7.5,1709.0,27.50,NaN
3,3,S1-E4,1,4,4,There's No Disgrace Like Home,After being embarrassed by the rest of the fam...,1990-01-28,https://m.media-amazon.com/images/M/MV5BOTZmNm...,7.8,1701.0,20.20,NaN
4,4,S1-E5,1,5,5,Bart the General,After being beaten up by Nelson Muntz one too ...,1990-02-04,https://m.media-amazon.com/images/M/MV5BMzk4ZD...,8.1,1732.0,27.10,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
677,678,S23-E20,23,20,506,The Spy Who Learned Me,Homer uses his paid sick leave to improve his ...,2012-05-06,https://m.media-amazon.com/images/M/MV5BYWNlND...,6.9,405.0,4.84,NaN
679,680,S23-E22,23,22,508,Lisa Goes Gaga,After a desperate attempt by Lisa to become mo...,2012-05-20,https://m.media-amazon.com/images/M/MV5BNDk4Mj...,4.5,1215.0,4.82,NaN
680,681,S24-E1,24,1,509,Moonshine River,The Simpsons go back to New York City so that ...,2012-09-30,https://m.media-amazon.com/images/M/MV5BMjEzOT...,6.4,597.0,8.08,NaN
681,682,S24-E2,24,2,510,Treehouse of Horror XXIII,"A black hole threatens to swallow Springfield,...",2012-10-07,https://m.media-amazon.com/images/M/MV5BMjMxMz...,7.3,600.0,6.57,halloween
682,683,S24-E3,24,3,511,Adventures in Baby-Getting,"Marge decides that she wants another baby, but...",2012-11-04,https://m.media-amazon.com/images/M/MV5BMTY4NT...,6.9,460.0,5.65,NaN

In [10]:
def eda (dataframe):
    """
    Realiza un análisis exploratorio básico de un DataFrame, mostrando información sobre duplicados,
    valores nulos, tipos de datos, valores únicos para columnas categóricas y estadísticas descriptivas
    para columnas categóricas y numéricas, agrupadas por la columna de control.

    Parámetros:
    - dataframe (DataFrame): El DataFrame que se va a explorar.

    Returns: 
    No devuelve nada directamente, pero imprime en la consola la información exploratoria.
    """
    
    print(f"Los duplicados que tenemos en el conjunto de datos son: {dataframe.duplicated().sum()}")
    print("\n ..................... \n")
    
    
    # generamos un DataFrame para los valores nulos
    print("Los nulos que tenemos en el conjunto de datos son:")
    df_nulos = pd.DataFrame(dataframe.isnull().sum() / dataframe.shape[0] * 100, columns = ["%_nulos"])
    display(df_nulos[df_nulos["%_nulos"] > 0])
    
    print("\n ..................... \n")
    print(f"Los tipos de las columnas son:")
    display(pd.DataFrame(dataframe.dtypes, columns = ["tipo_dato"]))
    
    
    print("\n ..................... \n")
    print("Los valores que tenemos para las columnas categóricas son: ")
    dataframe_categoricas = dataframe.select_dtypes(include = "O")
    
    for col in dataframe_categoricas.columns:
        print(f"La columna {col.upper()} tiene las siguientes valore únicos:")
        display(pd.DataFrame(dataframe[col].value_counts()).head())    
    
    
    print("\n ..................... \n")
    print("Los valores que tenemos para las columnas numéricas son: ")
    dataframe_numericas = dataframe.select_dtypes(include='number')
    
    for col in dataframe_numericas.columns:
        print(f"La columna {col.upper()} tiene las siguientes valore únicos:")
        display(pd.DataFrame(dataframe[col].value_counts()).head())

In [11]:
eda(ep)

Los duplicados que tenemos en el conjunto de datos son: 0

 .....................

Los nulos que tenemos en el conjunto de datos son:

                          %_nulos
imdb_rating             20.644217
imdb_votes              20.644217
us_viewers_in_millions  21.083455
keyword                 93.265007

 .....................

Los tipos de las columnas son:

                       tipo_dato
Unnamed: 0                 int64
episode_id                object
season                     int64
episode                    int64
number_in_series           int64
title                     object
summary                   object
air_date                  object
episode_image             object
imdb_rating              float64
imdb_votes               float64
us_viewers_in_millions   float64
keyword                   object

 .....................

Los valores que tenemos para las columnas categóricas son:
La columna EPISODE_ID tiene las siguientes valore únicos:

            count
episode_id
S1-E1           1
S13-E18         1
S13-E10         1
S13-E11         1
S13-E12         1

La columna TITLE tiene las siguientes valore únicos:

                                   count
title
Simpsons Roasting on an Open Fire      1
I Am Furious Yellow                    1
Half-Decent Proposal                   1
The Bart Wants What It Wants           1
The Lastest Gun in the West            1

La columna SUMMARY tiene las siguientes valore únicos:

                                                    count
summary
The family is forced to spend all of their savi...      1
Bart's comic about Homer becomes a hit on-line,...      1
Marge's high school sweetheart Artie Ziff retur...      1
Bart breaks up with his new girlfriend Greta, b...      1
Bart meets a retired cowboy movie star and conv...      1

La columna AIR_DATE tiene las siguientes valore únicos:

            count
air_date
2005-05-08      2
2013-05-19      2
2003-05-18      2
1996-05-19      2
2007-05-20      2

La columna EPISODE_IMAGE tiene las siguientes valore únicos:

                                                    count
episode_image
https://m.media-amazon.com/images/M/MV5BZjJjMzM...      1
https://m.media-amazon.com/images/M/MV5BOTgwOTd...      1
https://m.media-amazon.com/images/M/MV5BN2E1Yjl...      1
https://m.media-amazon.com/images/M/MV5BMjY3ZTg...      1
https://m.media-amazon.com/images/M/MV5BNDA2OTQ...      1

La columna KEYWORD tiene las siguientes valore únicos:

           count
keyword
halloween     31
christmas     15

 .....................

Los valores que tenemos para las columnas numéricas son:
La columna UNNAMED: 0 tiene las siguientes valore únicos:

            count
Unnamed: 0
0               1
458             1
450             1
451             1
452             1

La columna SEASON tiene las siguientes valore únicos:

        count
season
6          25
7          25
8          25
9          25
3          24

La columna EPISODE tiene las siguientes valore únicos:

         count
episode
1           31
8           31
2           31
12          31
11          31

La columna NUMBER_IN_SERIES tiene las siguientes valore únicos:

                  count
number_in_series
1                     1
287                   1
279                   1
280                   1
281                   1

La columna IMDB_RATING tiene las siguientes valore únicos:

             count
imdb_rating
7.3             43
7.1             39
6.9             39
7.0             38
7.2             34

La columna IMDB_VOTES tiene las siguientes valore únicos:

            count
imdb_votes
585.0           5
562.0           5
554.0           5
580.0           4
482.0           4

La columna US_VIEWERS_IN_MILLIONS tiene las siguientes valore únicos:

                        count
us_viewers_in_millions
14.4                        8
15.1                        6
11.8                        5
8.3                         5
8.5                         5

In [12]:
ep['keyword'].fillna('comun', inplace=True)

In [13]:
col = ['imdb_rating','imdb_votes','us_viewers_in_millions']
ep[col] = ep[col].fillna('desconocido')

In [14]:
ep_nulos = pd.DataFrame(ep.isnull().sum() / ep.shape[0] * 100, columns = ["%_nulos"])
ep_nulos[ep_nulos["%_nulos"] > 0]

Empty DataFrame
Columns: [%_nulos]
Index: []

In [17]:
ep.columns

Index(['Unnamed: 0', 'id', 'season', 'episode', 'number_in_series', 'title',
       'summary', 'date', 'image', 'imdb', 'imdb_votes',
       'us_viewers_in_millions', 'tipe'],
      dtype='object')

In [16]:
ep.columns = ['Unnamed: 0', 'id', 'season', 'episode', 'number_in_series',
       'title', 'summary', 'date', 'image', 'imdb',
       'imdb_votes', 'us_viewers_in_millions', 'tipe']

In [18]:
ep.to_csv('files/clean_files/episodios_clean.csv')

In [21]:
premios_c = pd.read_csv('files/character_award.csv')
premios = pd.read_csv('files/award.csv')

In [25]:
pd.DataFrame(premios_c.isnull().sum() / premios_c.shape[0] * 100, columns = ["%_nulos"])

           %_nulos
award_id       0.0
character      0.0

In [28]:
premios_c.duplicated().sum()

0

In [27]:
premios_c = premios_c.drop_duplicates()

In [29]:
premios_c.to_csv('files/clean_files/personajes_premiados_doblaje.csv')

In [31]:
premios.duplicated().sum()

0

In [32]:
premios[premios['episode_id'].isnull()]

,award_id,organization,year,award_category,award,person,role,episode_id,season,song,result
0,100,"Golden Globes, USA",2003,Golden Globe,Best Television Series - Comedy or Musical,NaN,NaN,NaN,NaN,NaN,Nominee
560,660,Primetime Emmy Awards,1998,Primetime Emmy,Outstanding Voice-Over Performance,Hank Azaria,NaN,NaN,NaN,NaN,Winner
595,695,Primetime Emmy Awards,1996,Primetime Emmy,Outstanding Music and Lyrics,Alf Clausen,composer,NaN,NaN,Señor Burns,Nominee
596,696,Primetime Emmy Awards,1996,Primetime Emmy,Outstanding Music and Lyrics,Bill Oakley,lyricist,NaN,NaN,Señor Burns,Nominee
597,697,Primetime Emmy Awards,1996,Primetime Emmy,Outstanding Music and Lyrics,Josh Weinstein,lyricist,NaN,NaN,Señor Burns,Nominee
...,...,...,...,...,...,...,...,...,...,...,...
1238,1338,Young Artist Awards,2004,Young Artist Award,Most Popular Mom & Pop in a Television Series,Julie Kavner,NaN,NaN,NaN,NaN,Winner
1239,1339,Young Artist Awards,2004,Young Artist Award,Most Popular Mom & Pop in a Television Series,Dan Castellaneta,NaN,NaN,NaN,NaN,Winner
1240,1340,Young Artist Awards,2004,Young Artist Award,Best Family Television Series (Comedy or Drama),NaN,Comedy or Drama,NaN,NaN,NaN,Nominee
1241,1341,Young Artist Awards,2002,Young Artist Award,Best Family TV Comedy Series,NaN,NaN,NaN,NaN,NaN,Nominee
1243,1343,Peabody Awards,1997,Peabody Award,NaN,NaN,NaN,NaN,NaN,NaN,Winner

In [33]:
premios['result'].value_counts()

result
Nominee    805
Winner     439
Name: count, dtype: int64

In [34]:
premios[premios['result']== 'Nominee']

,award_id,organization,year,award_category,award,person,role,episode_id,season,song,result
0,100,"Golden Globes, USA",2003,Golden Globe,Best Television Series - Comedy or Musical,NaN,NaN,NaN,NaN,NaN,Nominee
22,122,Primetime Emmy Awards,2019,Primetime Emmy,Outstanding Character Voice-Over Performance,Hank Azaria,NaN,S30-E6,NaN,NaN,Nominee
23,123,Primetime Emmy Awards,2019,Primetime Emmy,Outstanding Character Voice-Over Performance,Fox Network,NaN,S30-E6,NaN,NaN,Nominee
26,126,Primetime Emmy Awards,2018,Primetime Emmy,Outstanding Character Voice-Over Performance,Dan Castellaneta,NaN,S29-E14,NaN,NaN,Nominee
27,127,Primetime Emmy Awards,2018,Primetime Emmy,Outstanding Character Voice-Over Performance,Fox Network,NaN,S29-E14,NaN,NaN,Nominee
...,...,...,...,...,...,...,...,...,...,...,...
1235,1335,"Writers Guild of America, USA",2003,WGA Award (TV),Animation,John Frink,NaN,S13-E11,NaN,NaN,Nominee
1236,1336,"Writers Guild of America, USA",2003,WGA Award (TV),Animation,Don Payne,NaN,S13-E11,NaN,NaN,Nominee
1237,1337,"Writers Guild of America, USA",2003,WGA Award (TV),Animation,Matt Selman,NaN,S13-E9,NaN,NaN,Nominee
1240,1340,Young Artist Awards,2004,Young Artist Award,Best Family Television Series (Comedy or Drama),NaN,Comedy or Drama,NaN,NaN,NaN,Nominee
1241,1341,Young Artist Awards,2002,Young Artist Award,Best Family TV Comedy Series,NaN,NaN,NaN,NaN,NaN,Nominee

In [35]:
premios = premios[premios['result'] != 'Nominee']

In [54]:
pd.DataFrame(premios.isnull().sum() / premios.shape[0] * 100, columns = ["%_nulos"])

            %_nulos
year            0.0
category        0.0
award           0.0
person          0.0
episode_id      0.0

In [38]:
col = ['organization', 'role', 'season', 'song']
premios = premios.drop(col, axis=1)

In [42]:
premios.loc[premios['award_category'] == 'Peabody Award', 'award'] = 'Peabody Award'

In [48]:
col = ['person', 'episode_id']
premios[col] = premios[col].fillna('desconocido')

In [52]:
col = ['result']
premios = premios.drop(col, axis=1)

In [53]:
premios.columns = ['year', 'category', 'award', 'person', 'episode_id']

In [55]:
premios.to_csv('files/clean_files/premios.csv')

In [56]:
cameos = pd.read_csv('files/person.csv')

In [62]:
cameos['name'].value_counts()

name
Patrick Williams        2
Tom Brady               2
Michael Cera            1
Rachel Reed             1
Kenneth M. Kinoshita    1
                       ..
Joyce Carol Oates       1
Harold M. Schulweis     1
Tom Gammill             1
Leasa Epps-Eisele       1
Colin Campbell          1
Name: count, Length: 2627, dtype: int64

In [63]:
df = pd.read_csv('files/clean_files/guion_clean.csv')

In [64]:
df

,Unnamed: 0,character_id,location_id,raw_character_text,raw_location_text,spoken_words,word_count,title,episode_id
0,0,unkwown,1.0,unkwown,Street,unkwown,unkwown,Simpsons Roasting on an Open Fire,S1-E1
1,1,unkwown,2.0,unkwown,Car,unkwown,unkwown,Simpsons Roasting on an Open Fire,S1-E1
2,2,1,2.0,Marge Simpson,Car,"Ooo, careful, Homer.",3.0,Simpsons Roasting on an Open Fire,S1-E1
3,3,2,2.0,Homer Simpson,Car,There's no time to be careful.,6.0,Simpsons Roasting on an Open Fire,S1-E1
4,4,2,2.0,Homer Simpson,Car,We're late.,2.0,Simpsons Roasting on an Open Fire,S1-E1
...,...,...,...,...,...,...,...,...,...
143388,143388,unkwown,unkwown,unkwown,unkwown,unkwown,unkwown,Fland Canyon,S27-E19
143389,143389,unkwown,unkwown,unkwown,unkwown,unkwown,unkwown,To Courier with Love,S27-E20
143390,143390,unkwown,unkwown,unkwown,unkwown,unkwown,unkwown,Simprovised,S27-E21
143391,143391,unkwown,unkwown,unkwown,unkwown,unkwown,unkwown,Orange Is the New Yellow,S27-E22
143392,143392,unkwown,unkwown,unkwown,unkwown,unkwown,unkwown,Monty Burns' Fleeing Circus,S28-E1